---
layout: base.html
title: Badzelda.com | home
---
<div class="layout">

  <div class="content-col">

    <div class="panel">
      {% assign defaultIndex = collections.random.size | randomIndex %}
      {% for piece in collections.random %}
        <div class="random-piece" data-random {% if forloop.index0 != defaultIndex %}hidden{% endif %}>
          {{ piece.templateContent }}
        </div>
      {% endfor %}
    </div>

    <div class="two-col">
      <div class="panel">
        <h2>pictures</h2>
        <p><a href="https://www.flickr.com/photos/badzelda/">See my photostream at flickr.com</a></p>
      </div>
      <div class="panel">
        <h2>work</h2>
        <ul>
          {% for page in collections.work %}
            <li><a href="/work/{{ page.data.slug }}/">{{ page.data.title }}</a></li>
          {% endfor %}
        </ul>
      </div>
    </div>

    <div class="panel">
      <h2>writing</h2>
      <p>If you're looking for news about my novel, CAPOSCRIPTI, go to <a href="http://www.caposcripti.com/">www.caposcripti.com</a>.</p>
    </div>

  </div>

  <aside>
    <div class="panel news">
      <h2>news</h2>
      {% assign latest = news[0] %}
      <div class="date">{{ latest.date }}</div>
      <h3>{{ latest.title }}</h3>
      <p>{{ latest.summary }}</p>
      {% if latest.link %}
        &raquo; <a href="{{ latest.link }}" target="{{ latest.linkTarget }}">{{ latest.linkTitle }}</a>
      {% endif %}
      <br><br>
      &raquo; <a href="/news/">view all stories</a>
    </div>

    <div class="panel">
      <h2>about this site</h2>
      <p>Badzelda.com has been online since 1996, as a repository for writing, experiments, photography, work and thoughts.</p>
    </div>

    <div class="panel">
      <h2>links</h2>
      <ul class="subnav">
        <li><a href="https://www.linkedin.com/">LinkedIn</a></li>
        <li><a href="https://www.flickr.com/photos/badzelda/">Flickr</a></li>
        <li><a href="https://twitter.com/badzelda">Twitter</a></li>
      </ul>
    </div>
  </aside>

</div>
